:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html {
  background: black;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.start-button::part(base) {
  background-image: linear-gradient(to right, oklch(0.65 0.25 25), rgb(236, 72, 153));
  border: solid 2px #ff5757;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.start-button::part(base):hover {
  background-image: linear-gradient(to right, #ff5757, rgb(244, 114, 182));
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1), 0 0 0 10px rgba(220, 38, 38, 0.3);
  transform: scale(1.05);
}

.start-button::part(base):active {
  transform: scale(0.98);
}

.start-button::part(base):focus-visible {
  box-shadow: 0 0 0 3px rgba(220, 38, 38, 0.5);
}

.start-button::part(label) {
  color: white;
  font-family: 'Martian Mono', monospace;
  font-weight: 600;
  font-feature-settings: normal;
  font-variation-settings: normal;
}
